<% if running %>
  <div class="success">
	Server is currently running.
  </div>
<% else %>
  <div class="error">
	Server is currently off.
  </div>
<% end %>

<section id="manage">
	<h2>Choose action:</h2>
	<form action="/start" method="post">
		<input type="submit" value="start" />
	</form>
	<form action="/stop" method="post">
		<input type="submit" value="stop" />
	</form>
	<form action="/update" method="post">
		<input type="submit" value="update" />
	</form>
</section>

<%if running %>
<section id="players_info">
<% if players_names %>
    <h2>There are currently <%= players_online %> of <%= player_capacity %> players online:</h2>
    <% players_names.each_with_index do |name, index| %>
        <%= index + 1 %>. <%= name %><br />
    <% end %>
<% else %>
    <h2>There are currently <%= players_online %> of <%= player_capacity %> players online.</h2>
<% end %>
</section>
<% end %>
